//---------------------FUNTES
$fuente-especial: 'Cinzel Decorative', cursive;
$fuente-general:'Playfair Display', serif;
$thin:300;
$normal:400;
$bold:700;

// ------------------RESOLUCIONES
$telefono:480px;
$tableta:768px;
$laptop:980px;
$escritorio:1200px;

//--------------------COLORES

